################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Northbridge-SaveManager/obj/Release
/.vs/Northbridge-SaveManager/v15/Server/sqlite3
/.vs/Northbridge-SaveManagerR2/v15/Server/sqlite3/storage.ide-shm
/.vs/Northbridge-SaveManagerR2/v15/Server/sqlite3/storage.ide-wal
/Northbridge-SaveManagerR2/bin/debug/de/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/es/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/Xceed.Wpf.Toolkit.dll
/Northbridge-SaveManagerR2/bin/debug/Xceed.Wpf.DataGrid.dll
/Northbridge-SaveManagerR2/bin/debug/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
/Northbridge-SaveManagerR2/bin/debug/Xceed.Wpf.AvalonDock.Themes.Metro.dll
/Northbridge-SaveManagerR2/bin/debug/Xceed.Wpf.AvalonDock.Themes.Aero.dll
/Northbridge-SaveManagerR2/bin/debug/Xceed.Wpf.AvalonDock.dll
/Northbridge-SaveManagerR2/bin/debug/sv/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/ru/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/ro/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/Ookii.Dialogs.Wpf.dll
/Northbridge-SaveManagerR2/bin/debug/Northbridge-SaveManagerR2.pdb
/Northbridge-SaveManagerR2/bin/debug/Northbridge-SaveManagerR2.exe.config
/Northbridge-SaveManagerR2/bin/debug/Northbridge-SaveManagerR2.exe
/Northbridge-SaveManagerR2/bin/debug/it/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/hu/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/bin/debug/fr/Xceed.Wpf.AvalonDock.resources.dll
/Northbridge-SaveManagerR2/obj/debug/Northbridge-SaveManagerR2.csprojResolveAssemblyReference.cache
/Northbridge-SaveManagerR2/obj/debug/Northbridge_SaveManagerR2.Properties.Resources.resources
/Northbridge-SaveManagerR2/obj/debug/Northbridge-SaveManagerR2_MarkupCompile.lref
/Northbridge-SaveManagerR2/obj/debug/MainWindow.g.cs
/Northbridge-SaveManagerR2/obj/debug/MainWindow.baml
/Northbridge-SaveManagerR2/obj/debug/Northbridge-SaveManagerR2.csproj.CoreCompileInputs.cache
/Northbridge-SaveManagerR2/obj/debug/Northbridge-SaveManagerR2.g.resources
/Northbridge-SaveManagerR2/obj/debug/Northbridge-SaveManagerR2.exe
/Northbridge-SaveManagerR2/obj/debug/App.g.cs
/Northbridge-SaveManagerR2/obj/debug/Northbridge-SaveManagerR2.pdb
