################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Northbridge-SaveManager/obj/Release
/.vs/Northbridge-SaveManager/v15/Server/sqlite3
